<?xml version="1.0"?>
<config>
  <modules>
    <GSS_OrdersIntegration>
      <version>1.0.0</version>
    </GSS_OrdersIntegration>
  </modules>
  <global>
  	<models>
   	 	<ordersIntegration>
        	<class>GSS_OrdersIntegration_Model</class>
    	</ordersIntegration>
	</models>
    <helpers>
      <ordersIntegration>
        <class>GSS_OrdersIntegration_Helper</class>
      </ordersIntegration>
    </helpers>
  </global>
</config>